*{
  margin: 0 auto;
  /* padding: 2rem; */
  box-sizing: border-box;
}

.game-zone{
  height: 80vh;
}

.player-setup, .category-selection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: auto 0;
  height: 40vh;
}

.display,.result{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: auto 0;
  height: 40vh;
}

select{
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 0.5rem;
}

input{
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 0.5rem;
}


button{
  background-color: rgb(7, 7, 7);
  color: white;
  padding: 0.5rem;
  border-radius: 2rem;
}

button:hover{
  background-color: rgb(224, 218, 218);
  color: black;
}